# Analysis of CIA Factbook Data using SQL

## Purpose 

We'll work with data from the [CIA World Factbook](https://www.cia.gov/library/publications/the-world-factbook), a compendium of statistics about all of the countries on Earth. 

The World Factbook provides information on the history, people and society, government, economy, energy, geography, communications, transportation, military, and transnational issues for 267 world entities.

### Connect Jupyter Notebook to database file

In [4]:
!conda install -yc conda-forge ipython-sql

Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\alao8\Anaconda3

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.6.20  |       hecda079_0         184 KB  conda-forge
    certifi-2020.6.20          |   py37hc8dfbb8_0         151 KB  conda-forge
    conda-4.8.3                |   py37hc8dfbb8_1         3.1 MB  conda-forge
    ipython-sql-0.3.9          |py37hc8dfbb8_1001          27 KB  conda-forge
    openssl-1.1.1f             |       hfa6e2cd_0         4.7 MB  conda-forge
    prettytable-0.7.2          |             py_3          15 KB  conda-forge
    python_abi-3.7             |          1_cp37m           4 KB  conda-forge
    sqlparse-0.3.1             |             py_0          30 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         8.2 MB

The following NEW packages will be INSTALLED:

  ipython-sql        conda-forge/win-64::ipython-sql-0.3.9-py37hc8dfbb8_1001
  prettytable        conda-forge/noarch::prettytable-0.7.2-py_3
  python_abi         conda-forge/win-64::python_abi-3.7-1_cp37m
  sqlparse           conda-forge/noarch::sqlparse-0.3.1-py_0

The following packages will be UPDATED:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2020.6.20-hecda079_0
  certifi              pkgs/main::certifi-2020.4.5.1-py37_0 --> conda-forge::certifi-2020.6.20-py37hc8dfbb8_0
  conda                       pkgs/main::conda-4.8.3-py37_0 --> conda-forge::conda-4.8.3-py37hc8dfbb8_1
  openssl              pkgs/main::openssl-1.1.1c-he774522_1 --> conda-forge::openssl-1.1.1f-hfa6e2cd_0



Downloading and Extracting Packages

ca-certificates-2020 | 184 KB    |            |   0%
ca-certificates-2020 | 184 KB    | 8          |   9%
ca-certificates-2020 | 184 KB    | ##6        |  26%
ca-certificates-2020 | 184 KB    | ####3      |  44%
ca-certificates-2020 | 184 KB    | ######1    |  61%
ca-certificates-2020 | 184 KB    | #######8   |  78%
ca-certificates-2020 | 184 KB    | #########5 |  96%
ca-certificates-2020 | 184 KB    | ########## | 100%

conda-4.8.3          | 3.1 MB    |            |   0%
conda-4.8.3          | 3.1 MB    |            |   1%
conda-4.8.3          | 3.1 MB    | 1          |   2%
conda-4.8.3          | 3.1 MB    | 2          |   3%
conda-4.8.3          | 3.1 MB    | 3          |   4%
conda-4.8.3          | 3.1 MB    | 4          |   5%
conda-4.8.3          | 3.1 MB    | 5          |   6%
conda-4.8.3          | 3.1 MB    | 6          |   7%
conda-4.8.3          | 3.1 MB    | 7          |   8%
conda-4.8.3          | 3.1 MB    | 8          |   9%
conda-4.8.3          | 3.1 MB    | 9          |  10%
conda-4.8.3          | 3.1 MB    | #          |  11%
conda-4.8.3          | 3.1 MB    | #1         |  12%
conda-4.8.3          | 3.1 MB    | #2         |  13%
conda-4.8.3          | 3.1 MB    | #3         |  14%
conda-4.8.3          | 3.1 MB    | #4         |  15%
conda-4.8.3          | 3.1 MB    | #5         |  16%
conda-4.8.3          | 3.1 MB    | #6         |  17%
conda-4.8.3          | 3.1 MB    | #7         |  18%
conda-4.8.3          | 3.1 MB    | #8         |  19%
conda-4.8.3          | 3.1 MB    | ##         |  20%
conda-4.8.3          | 3.1 MB    | ##1        |  21%
conda-4.8.3          | 3.1 MB    | ##2        |  22%
conda-4.8.3          | 3.1 MB    | ##3        |  24%
conda-4.8.3          | 3.1 MB    | ##4        |  25%
conda-4.8.3          | 3.1 MB    | ##6        |  26%
conda-4.8.3          | 3.1 MB    | ##7        |  28%
conda-4.8.3          | 3.1 MB    | ##8        |  29%
conda-4.8.3          | 3.1 MB    | ###        |  30%
conda-4.8.3          | 3.1 MB    | ###1       |  31%
conda-4.8.3          | 3.1 MB    | ###2       |  32%
conda-4.8.3          | 3.1 MB    | ###3       |  33%
conda-4.8.3          | 3.1 MB    | ###4       |  34%
conda-4.8.3          | 3.1 MB    | ###5       |  35%
conda-4.8.3          | 3.1 MB    | ###6       |  37%
conda-4.8.3          | 3.1 MB    | ###7       |  38%
conda-4.8.3          | 3.1 MB    | ###8       |  39%
conda-4.8.3          | 3.1 MB    | ###9       |  40%
conda-4.8.3          | 3.1 MB    | ####       |  41%
conda-4.8.3          | 3.1 MB    | ####1      |  42%
conda-4.8.3          | 3.1 MB    | ####2      |  43%
conda-4.8.3          | 3.1 MB    | ####3      |  44%
conda-4.8.3          | 3.1 MB    | ####4      |  45%
conda-4.8.3          | 3.1 MB    | ####5      |  46%
conda-4.8.3          | 3.1 MB    | ####6      |  47%
conda-4.8.3          | 3.1 MB    | ####7      |  48%
conda-4.8.3          | 3.1 MB    | ####8      |  49%
conda-4.8.3          | 3.1 MB    | #####      |  50%
conda-4.8.3          | 3.1 MB    | #####1     |  51%
conda-4.8.3          | 3.1 MB    | #####2     |  52%
conda-4.8.3          | 3.1 MB    | #####3     |  53%
conda-4.8.3          | 3.1 MB    | #####4     |  54%
conda-4.8.3          | 3.1 MB    | #####5     |  55%
conda-4.8.3          | 3.1 MB    | #####6     |  56%
conda-4.8.3          | 3.1 MB    | #####7     |  58%
conda-4.8.3          | 3.1 MB    | #####9     |  59%
conda-4.8.3          | 3.1 MB    | ######     |  61%
conda-4.8.3          | 3.1 MB    | ######1    |  62%
conda-4.8.3          | 3.1 MB    | ######2    |  63%
conda-4.8.3          | 3.1 MB    | ######3    |  64%
conda-4.8.3          | 3.1 MB    | ######4    |  65%
conda-4.8.3          | 3.1 MB    | ######5    |  66%
conda-4.8.3          | 3.1 MB    | ######6    |  67%
conda-4.8.3          | 3.1 MB    | ######7    |  68%
conda-4.8.3          | 3.1 MB    | ######8    |  69%
conda-4.8.3          | 3.1 MB    | ######9    |  70%
conda-4.8.3          | 3.1 MB    | #######    |  71%
conda-4.8.3          | 3.1 MB    | #######2   |  72%
conda-4.8.3          | 3.1 MB    | #######3   |  74%
conda-4.8.3          | 3.1 MB    | #######4   |  75%
conda-4.8.3          | 3.1 MB    | #######5   |  76%
conda-4.8.3          | 3.1 MB    | #######6   |  77%
conda-4.8.3          | 3.1 MB    | #######7   |  78%
conda-4.8.3          | 3.1 MB    | #######8   |  79%
conda-4.8.3          | 3.1 MB    | #######9   |  80%
conda-4.8.3          | 3.1 MB    | ########   |  81%
conda-4.8.3          | 3.1 MB    | ########1  |  82%
conda-4.8.3          | 3.1 MB    | ########2  |  82%
conda-4.8.3          | 3.1 MB    | ########2  |  83%
conda-4.8.3          | 3.1 MB    | ########3  |  83%
conda-4.8.3          | 3.1 MB    | ########3  |  84%
conda-4.8.3          | 3.1 MB    | ########4  |  84%
conda-4.8.3          | 3.1 MB    | ########5  |  85%
conda-4.8.3          | 3.1 MB    | ########6  |  86%
conda-4.8.3          | 3.1 MB    | ########7  |  87%
conda-4.8.3          | 3.1 MB    | ########8  |  88%
conda-4.8.3          | 3.1 MB    | ########9  |  89%
conda-4.8.3          | 3.1 MB    | #########  |  91%
conda-4.8.3          | 3.1 MB    | #########1 |  92%
conda-4.8.3          | 3.1 MB    | #########2 |  93%
conda-4.8.3          | 3.1 MB    | #########3 |  94%
conda-4.8.3          | 3.1 MB    | #########4 |  95%
conda-4.8.3          | 3.1 MB    | #########5 |  96%
conda-4.8.3          | 3.1 MB    | #########6 |  97%
conda-4.8.3          | 3.1 MB    | #########7 |  98%
conda-4.8.3          | 3.1 MB    | #########8 |  99%
conda-4.8.3          | 3.1 MB    | ########## | 100%

ipython-sql-0.3.9    | 27 KB     |            |   0%
ipython-sql-0.3.9    | 27 KB     | #####9     |  59%
ipython-sql-0.3.9    | 27 KB     | ########## | 100%

certifi-2020.6.20    | 151 KB    |            |   0%
certifi-2020.6.20    | 151 KB    | #          |  11%
certifi-2020.6.20    | 151 KB    | ###1       |  32%
certifi-2020.6.20    | 151 KB    | #####2     |  53%
certifi-2020.6.20    | 151 KB    | #######4   |  74%
certifi-2020.6.20    | 151 KB    | ########## | 100%

python_abi-3.7       | 4 KB      |            |   0%
python_abi-3.7       | 4 KB      | ########## | 100%

openssl-1.1.1f       | 4.7 MB    |            |   0%
openssl-1.1.1f       | 4.7 MB    |            |   0%
openssl-1.1.1f       | 4.7 MB    |            |   1%
openssl-1.1.1f       | 4.7 MB    | 1          |   2%
openssl-1.1.1f       | 4.7 MB    | 2          |   2%
openssl-1.1.1f       | 4.7 MB    | 2          |   3%
openssl-1.1.1f       | 4.7 MB    | 3          |   4%
openssl-1.1.1f       | 4.7 MB    | 4          |   4%
openssl-1.1.1f       | 4.7 MB    | 4          |   5%
openssl-1.1.1f       | 4.7 MB    | 5          |   6%
openssl-1.1.1f       | 4.7 MB    | 6          |   6%
openssl-1.1.1f       | 4.7 MB    | 6          |   7%
openssl-1.1.1f       | 4.7 MB    | 7          |   8%
openssl-1.1.1f       | 4.7 MB    | 8          |   8%
openssl-1.1.1f       | 4.7 MB    | 8          |   9%
openssl-1.1.1f       | 4.7 MB    | 9          |  10%
openssl-1.1.1f       | 4.7 MB    | #          |  10%
openssl-1.1.1f       | 4.7 MB    | #          |  11%
openssl-1.1.1f       | 4.7 MB    | #1         |  12%
openssl-1.1.1f       | 4.7 MB    | #2         |  12%
openssl-1.1.1f       | 4.7 MB    | #2         |  13%
openssl-1.1.1f       | 4.7 MB    | #3         |  14%
openssl-1.1.1f       | 4.7 MB    | #4         |  14%
openssl-1.1.1f       | 4.7 MB    | #4         |  15%
openssl-1.1.1f       | 4.7 MB    | #5         |  16%
openssl-1.1.1f       | 4.7 MB    | #6         |  16%
openssl-1.1.1f       | 4.7 MB    | #6         |  17%
openssl-1.1.1f       | 4.7 MB    | #7         |  18%
openssl-1.1.1f       | 4.7 MB    | #8         |  18%
openssl-1.1.1f       | 4.7 MB    | #8         |  19%
openssl-1.1.1f       | 4.7 MB    | #9         |  20%
openssl-1.1.1f       | 4.7 MB    | ##         |  20%
openssl-1.1.1f       | 4.7 MB    | ##         |  21%
openssl-1.1.1f       | 4.7 MB    | ##1        |  22%
openssl-1.1.1f       | 4.7 MB    | ##2        |  23%
openssl-1.1.1f       | 4.7 MB    | ##3        |  23%
openssl-1.1.1f       | 4.7 MB    | ##3        |  24%
openssl-1.1.1f       | 4.7 MB    | ##4        |  25%
openssl-1.1.1f       | 4.7 MB    | ##5        |  25%
openssl-1.1.1f       | 4.7 MB    | ##5        |  26%
openssl-1.1.1f       | 4.7 MB    | ##6        |  27%
openssl-1.1.1f       | 4.7 MB    | ##7        |  27%
openssl-1.1.1f       | 4.7 MB    | ##7        |  28%
openssl-1.1.1f       | 4.7 MB    | ##8        |  29%
openssl-1.1.1f       | 4.7 MB    | ##9        |  29%
openssl-1.1.1f       | 4.7 MB    | ##9        |  30%
openssl-1.1.1f       | 4.7 MB    | ###        |  30%
openssl-1.1.1f       | 4.7 MB    | ###1       |  31%
openssl-1.1.1f       | 4.7 MB    | ###2       |  32%
openssl-1.1.1f       | 4.7 MB    | ###3       |  33%
openssl-1.1.1f       | 4.7 MB    | ###4       |  34%
openssl-1.1.1f       | 4.7 MB    | ###4       |  35%
openssl-1.1.1f       | 4.7 MB    | ###5       |  35%
openssl-1.1.1f       | 4.7 MB    | ###6       |  36%
openssl-1.1.1f       | 4.7 MB    | ###7       |  37%
openssl-1.1.1f       | 4.7 MB    | ###7       |  38%
openssl-1.1.1f       | 4.7 MB    | ###8       |  38%
openssl-1.1.1f       | 4.7 MB    | ###9       |  39%
openssl-1.1.1f       | 4.7 MB    | ####       |  40%
openssl-1.1.1f       | 4.7 MB    | ####       |  41%
openssl-1.1.1f       | 4.7 MB    | ####1      |  41%
openssl-1.1.1f       | 4.7 MB    | ####2      |  42%
openssl-1.1.1f       | 4.7 MB    | ####3      |  44%
openssl-1.1.1f       | 4.7 MB    | ####4      |  45%
openssl-1.1.1f       | 4.7 MB    | ####5      |  46%
openssl-1.1.1f       | 4.7 MB    | ####6      |  47%
openssl-1.1.1f       | 4.7 MB    | ####7      |  48%
openssl-1.1.1f       | 4.7 MB    | ####8      |  49%
openssl-1.1.1f       | 4.7 MB    | ####9      |  50%
openssl-1.1.1f       | 4.7 MB    | #####1     |  51%
openssl-1.1.1f       | 4.7 MB    | #####2     |  52%
openssl-1.1.1f       | 4.7 MB    | #####3     |  53%
openssl-1.1.1f       | 4.7 MB    | #####3     |  54%
openssl-1.1.1f       | 4.7 MB    | #####4     |  54%
openssl-1.1.1f       | 4.7 MB    | #####5     |  56%
openssl-1.1.1f       | 4.7 MB    | #####6     |  57%
openssl-1.1.1f       | 4.7 MB    | #####7     |  58%
openssl-1.1.1f       | 4.7 MB    | #####8     |  59%
openssl-1.1.1f       | 4.7 MB    | #####9     |  60%
openssl-1.1.1f       | 4.7 MB    | ######     |  60%
openssl-1.1.1f       | 4.7 MB    | ######     |  61%
openssl-1.1.1f       | 4.7 MB    | ######1    |  62%
openssl-1.1.1f       | 4.7 MB    | ######2    |  62%
openssl-1.1.1f       | 4.7 MB    | ######2    |  63%
openssl-1.1.1f       | 4.7 MB    | ######3    |  64%
openssl-1.1.1f       | 4.7 MB    | ######4    |  64%
openssl-1.1.1f       | 4.7 MB    | ######4    |  65%
openssl-1.1.1f       | 4.7 MB    | ######5    |  66%
openssl-1.1.1f       | 4.7 MB    | ######6    |  66%
openssl-1.1.1f       | 4.7 MB    | ######6    |  67%
openssl-1.1.1f       | 4.7 MB    | ######7    |  68%
openssl-1.1.1f       | 4.7 MB    | ######8    |  69%
openssl-1.1.1f       | 4.7 MB    | ######9    |  69%
openssl-1.1.1f       | 4.7 MB    | ######9    |  70%
openssl-1.1.1f       | 4.7 MB    | #######    |  71%
openssl-1.1.1f       | 4.7 MB    | #######1   |  71%
openssl-1.1.1f       | 4.7 MB    | #######1   |  72%
openssl-1.1.1f       | 4.7 MB    | #######2   |  73%
openssl-1.1.1f       | 4.7 MB    | #######3   |  73%
openssl-1.1.1f       | 4.7 MB    | #######3   |  74%
openssl-1.1.1f       | 4.7 MB    | #######4   |  75%
openssl-1.1.1f       | 4.7 MB    | #######5   |  75%
openssl-1.1.1f       | 4.7 MB    | #######5   |  76%
openssl-1.1.1f       | 4.7 MB    | #######6   |  77%
openssl-1.1.1f       | 4.7 MB    | #######7   |  77%
openssl-1.1.1f       | 4.7 MB    | #######7   |  78%
openssl-1.1.1f       | 4.7 MB    | #######8   |  79%
openssl-1.1.1f       | 4.7 MB    | #######9   |  79%
openssl-1.1.1f       | 4.7 MB    | #######9   |  80%
openssl-1.1.1f       | 4.7 MB    | ########   |  81%
openssl-1.1.1f       | 4.7 MB    | ########1  |  82%
openssl-1.1.1f       | 4.7 MB    | ########2  |  82%
openssl-1.1.1f       | 4.7 MB    | ########2  |  83%
openssl-1.1.1f       | 4.7 MB    | ########3  |  84%
openssl-1.1.1f       | 4.7 MB    | ########4  |  84%
openssl-1.1.1f       | 4.7 MB    | ########4  |  85%
openssl-1.1.1f       | 4.7 MB    | ########5  |  86%
openssl-1.1.1f       | 4.7 MB    | ########6  |  86%
openssl-1.1.1f       | 4.7 MB    | ########6  |  87%
openssl-1.1.1f       | 4.7 MB    | ########7  |  88%
openssl-1.1.1f       | 4.7 MB    | ########8  |  88%
openssl-1.1.1f       | 4.7 MB    | ########8  |  89%
openssl-1.1.1f       | 4.7 MB    | ########9  |  89%
openssl-1.1.1f       | 4.7 MB    | #########  |  90%
openssl-1.1.1f       | 4.7 MB    | #########  |  91%
openssl-1.1.1f       | 4.7 MB    | #########1 |  91%
openssl-1.1.1f       | 4.7 MB    | #########2 |  92%
openssl-1.1.1f       | 4.7 MB    | #########2 |  93%
openssl-1.1.1f       | 4.7 MB    | #########3 |  93%
openssl-1.1.1f       | 4.7 MB    | #########4 |  94%
openssl-1.1.1f       | 4.7 MB    | #########4 |  95%
openssl-1.1.1f       | 4.7 MB    | #########5 |  95%
openssl-1.1.1f       | 4.7 MB    | #########6 |  96%
openssl-1.1.1f       | 4.7 MB    | #########6 |  97%
openssl-1.1.1f       | 4.7 MB    | #########7 |  98%
openssl-1.1.1f       | 4.7 MB    | #########8 |  98%
openssl-1.1.1f       | 4.7 MB    | #########9 |  99%
openssl-1.1.1f       | 4.7 MB    | ########## | 100%

sqlparse-0.3.1       | 30 KB     |            |   0%
sqlparse-0.3.1       | 30 KB     | #####4     |  54%
sqlparse-0.3.1       | 30 KB     | ########## | 100%

prettytable-0.7.2    | 15 KB     |            |   0%
prettytable-0.7.2    | 15 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [6]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

### Query the tables in the datafile

In [7]:
%%sql 

SELECT * 
FROM sqlite_master
WHERE type = 'table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

Looks like that is only one table in the data file: "Facts"

## Overview of Data

In [5]:
%%sql

SELECT *
FROM facts
LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]


Here are the descriptions for some of the columns:

name - The name of the country.
area - The total land and sea area of the country.
population - The country's population.
population_growth- The country's population growth as a percentage.
birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
death_rate - The country's death rate, or the number of death a year per 1,000 people.
area- The country's total area (both land and water).
area_land - The country's land area in square kilometers.
area_water - The country's waterarea in square kilometers.
Let's start by calculating some summary statistics and see what they tell us.

In [11]:
%%sql 
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) max_pop_growth 
  FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]


A few things stick out from the summary statistics in the last screen:

There's a country with a population of 0.

There's a country with a population of 7256490011 (or more than 7.2 billion people)

Let's use subqueries to zoom in on just these countries without using the specific values.

In [12]:
%%sql 
SELECT *, MIN(population) AS min_pop
FROM facts;

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None, 0)]

In [14]:
%%sql 
SELECT *, MAX(population) AS max_pop
FROM facts;

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None, 7256490011)]

It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook page for [Antarctica](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html)

In [18]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) max_pop_growth 
FROM facts
WHERE name <> 'World';

Done.

[(0, 1367485388, 0.0, 4.02)]

In [20]:
%%sql 
SELECT AVG(population) AS avg_pop,
    AVG(area) AS avg_area
FROM facts
WHERE name <> "World";

Done.

[(32242666.56846473, 555093.546184739)]

In [21]:
%%sql
SELECT *
FROM facts
WHERE population > (SELECT AVG(population) FROM facts WHERE name <> 'World') 
AND area < (SELECT AVG(area) FROM facts WHERE name <> "World");

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]